[submodule "PolyGear"]
	path = PolyGear
	url = https://github.com/dpellegr/PolyGear.git
[submodule "catchnhole"]
	path = catchnhole
	url = https://github.com/mmalecki/catchnhole
[submodule "next-bolt"]
	path = next-bolt
	url = https://github.com/mmalecki/next-bolt
